.sidebaroptions {
    display: flex;
    align-items: center;
    height: 35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 25px;
    margin-right: 20px;
  }
  
  .sidebaroptions svg {
    color: rgb(94, 94, 94);
    font-size: 20px;
    width: 20px;
  }
  
  .sidebaroptions h4 {
    font-size: 14px;
    flex: 1;
    margin-left: 10px;
    font-weight: normal;
  }
  
  .sidebaroptions p {
    
    color: rgb(94, 94, 94);
    font-size: 12px;
   opacity: 0;
  }
  
  .sidebaroptions:hover{

    cursor: pointer;
    background-color: bisque;

  }
  .sidebaroptions--active {
    background-color: #ad325d;
    
  }
  
  .sidebaroptions--active h4,
  .sidebaroptions--active p,
  .sidebaroptions--active svg
  {
    background-color: #ad325d;
    font-weight: bold;
    opacity: 1 !important;
  }
  